* {
	outline: none;
	text-decoration: none !important;
	box-sizing: border-box !important;
}

::-webkit-input-placeholder {
    color: $white;
}
::-moz-placeholder {
    color: $white;
}
:-ms-input-placeholder {
    color: $white;
}
:-moz-placeholder {
    color: $white;
}

input[type="text"]::-moz-focus-inner {   
    border : 0px;
} 

input[type="text"]:focus {     
    outline : none; 
}

:before, :after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    	 	box-sizing: border-box;
}

input[type="email"]::-webkit-input-placeholder {
    color: $dark_gray;
}
 
input[type="email"]:-moz-placeholder {
    color: $dark_gray;  
}
 
input[type="email"]::-moz-placeholder {
    color: $dark_gray;  
}
 
input[type="email"]:-ms-input-placeholder {  
    color: $dark_gray;  
}

html, body {
	font-family: $font-family;
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	    	transition: all .2s linear;
	    	transition: all .2s linear;
}

body {
	font-family: $font-family;
	background: #c5c5c5;
	height: 100%;
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	    	transition: all .2s linear;
	    	transition: all .2s linear;
}

h1 {
	font-family: $font-family;
	font-weight: $heavy;
	color: $dark_gray;
	font-size: $h1;
	text-transform: uppercase;
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	        transition: all .2s linear;
}

h2 {
	font-family: $font-family;
	font-weight: $bold;
	color: $white;
	font-size: $h2;
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	        transition: all .2s linear;
}

p {
	font-family: $font-family;
	color: $dark_gray;
	font-size: $paragraph;
}

.wrapper {
	padding: 60px;
	margin: 0 auto;
	display: -webkit-box;
	transition: all .2s linear;
}

.container {
    max-width: 1366px;
}

.center {
	text-align: center;
}

.float-r {
	float: right;
}

.-bg_violet {
	background: $primary;
}

.-bg_yellow {
	background: $secondary;
}

.white {
	color: $white;
}

.dark {
	color: $dark_gray;
}

.margin_b {
	margin-bottom: 30px !important;
}

.j_1_img {
    position: absolute;
    bottom: 20px;
    left: 50px;
    width: 100%;
    max-width: 90px;
}

.clear {
	clear: both;
}