* {
	outline: none;
	text-decoration: none !important;
	box-sizing: border-box !important;
}

::-webkit-input-placeholder {
    color: $white;
}
::-moz-placeholder {
    color: $white;
}
:-ms-input-placeholder {
    color: $white;
}
:-moz-placeholder {
    color: $white;
}

input[type="text"]::-moz-focus-inner {   
    border : 0px;
} 

input[type="text"]:focus {     
    outline : none; 
}

:before, :after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    	 	box-sizing: border-box;
}

input[type="email"]::-webkit-input-placeholder {
    color: $dark_gray;
}
 
input[type="email"]:-moz-placeholder {
    color: $dark_gray;  
}
 
input[type="email"]::-moz-placeholder {
    color: $dark_gray;  
}
 
input[type="email"]:-ms-input-placeholder {  
    color: $dark_gray;  
}

body, html {
	height: 100%;
	font-family: $print_bold;
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	    	transition: all .2s linear;
	    	transition: all .2s linear;
}

body {
	font-family: $print_bold;
	background: $white;
	height: 100%;
	color: $paragraph;
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	    	transition: all .2s linear;
	    	transition: all .2s linear;
}

h1 {
	font-family: $delicious_heavy;
	font-weight: $heavy;
	color: $dark_gray;
	font-size: $h1;
	text-transform: uppercase;
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	        transition: all .2s linear;
}

h2 {
	font-family: $delicious_heavy;
	font-weight: $bold;
	color: $white;
	font-size: $h2;
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	        transition: all .2s linear;
}

p {
	font-family: $print_bold;
	color: $dark_gray;
	font-size: $paragraph;
	-webkit-transition: 0.4s;
	   -moz-transition: 0.4s;
	  	 -o-transition: 0.4s;
	    	transition: 0.4s;
}

.wrapper {
	padding: 60px 30px;
	margin: 0 auto;
	transition: all .2s linear;
	-webkit-transition: 0.4s;
	   -moz-transition: 0.4s;
	  	 -o-transition: 0.4s;
	    	transition: 0.4s;
}

.container {
    -webkit-transition: 0.4s;
	   -moz-transition: 0.4s;
	  	 -o-transition: 0.4s;
	    	transition: 0.4s;
}

.center {
	text-align: center;
}

.float-r {
	float: right;
}

.primary {
	color: $primary;
}

.dark_gray {
	color: $dark_gray;
}

.-bg_violet {
	background: $primary;
}

.-bg_gray {
	background: $dark_gray;
}

.-bg_yellow {
	background: $secondary;
}

.-bg_white {
	background: $white;
}

.white {
	color: $white;
}

.dark {
	color: $dark_gray;
}

.margin_b {
	margin-bottom: 30px !important;
}

.j_1_img {
    position: absolute;
    bottom: 20px;
    left: 50px;
    width: 100%;
    max-width: 90px;
}

.clear {
	clear: both;
}

.shadow {
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.35);
       -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.35);
    		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.35);
}