$font-family: 'Open Sans', sans-serif;

// color
$primary: #6e266f;
$secondary: #fdbe3c;	
$dark_gray: #373636;
$white: #ffffff;

// headings
$h1: 39px;
$h2: 25px;
$h3: 10px;
$paragraph: 16px;

// font_weight
$light: 200;
$semi_light: 300;
$semibold: 500;
$bold: 700;
$heavy: 900;