<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /JoE/com/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /JoE/com/index.php [L]
</IfModule>
