//section_about_us
section#about_us {
	background: url(../resources/images/rocket_1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    overflow: hidden;
    position: relative;
}

.about_box {
    padding: 70px 40px;
    display: flex;
    background: #fff;
    width: 100%;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
	   -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
			box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
	
	// tab

	.about_tab {
	    position: relative;

	    .tab-content h2 {
	    	color: $primary;
	    	text-transform: uppercase;
	    	margin-bottom: 10px;
	    	text-align: left;
	    }

	    .tab-content img {
	    	margin-bottom: 1em;
	    	text-align: center;
	    	max-width: 100%;
	    	width: auto;
	    }

	    .j_1 img {
		    width: 100%;
		    max-width: 150px;
		}

	}

	// title
	.edge_top {
	    position: absolute;
	    z-index: 1;
	    top: -20px;
	    left: -40px;
	    padding: 10px 30px;
	}

	.edge_top:before {
		background: inherit;
		content: '';
		display: block;
		height: 50%;
		left: 0;
		position: absolute;
		right: 0;
		z-index: -1;
		-webkit-backface-visibility: hidden;
	}

	.edge_top:before {
		top: 0;
		-webkit-transform: skewY(3.5deg);
		transform: skewY(1.5deg);
		-webkit-transform-origin: 100% 0;
		transform-origin: 100% 0;
	}

	.edge_top_relative {
	  	position: relative;
	  	z-index: 1;
	}

	.edge_top_relative:before {
	  	background: inherit;
	  	content: '';
	  	display: block;
	  	height: 50%;
	  	left: 0;
	  	position: absolute;
	  	right: 0;
	  	z-index: -1;
	  	-webkit-backface-visibility: hidden;
	}

	.edge_top_relative:before {
	  	top: 0;
	  	-webkit-transform: skewY(3.5deg);
	          	transform: skewY(3.5deg);
	 	 -webkit-transform-origin: 100% 0;
	          	 transform-origin: 100% 0;
	}

	.nav-tabs {
	    border-bottom: none;

	    .nav-item {
			float: none !important;
			margin-bottom: 10px;
		}

	    .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover {
		    background-color: transparent;
		    border-color: transparent;
		}

		.nav-link.active {
			font-weight: $bold;
		    border-bottom: 4px solid $secondary;
		    display: inline-block;
		}

		.nav-link {
			border: none;
		}

		.nav-item a {
			padding-left: 0;
    		padding-right: 0;
			color: $dark_gray;
			text-transform: uppercase;
		}
	}

	.border-right {
		// border-right: 2px solid $secondary;
	}
}

.op h2
.oc h2 {
	margin-bottom: 20px;
}

.edge_top_relative {
    width: auto;
    padding: 6px 12px;
    display: inline-block;
}

.edge_top_relative p {
	margin-bottom: 0;
	color: $white;
    font-weight: 700;
}

.p_margin {
	margin-left: 20px;
    margin-top: 20px;
}

.margin20 {
    margin-top: 20px;
}


.margin40 {
    margin-top: 40px;
}

//section_program
section#program {
	background-image: url(../resources/images/prog_bg.jpg);
    background-size: 30%;
    background-repeat-x: repeat;
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;

    .program_box {
	    background: rgba(255,255,255,0.75);
	    padding: 90px 40px 40px 40px;

	    input.age {
		    border-radius: 5px;
		    padding: 7px;
		    border: 1px solid $dark_gray;
		    width: 60px;
		    margin-left: 140px;
		}

		select.program {
		    border-radius: 5px;
		    padding: 7px;
		    border: 1px solid $dark_gray;
		    width: 280px;
		    margin-left: 10px;
		}
	}
}

.divider_bg {
	background: $dark_gray;
	height: 20px;
	width: 100%;
}