@media only screen and (max-width: 768px) {
	.wrapper {
		padding: 40px 5px;
	}

	.about_box {
		padding: 70px 20px;
		padding-bottom: 20px;

		.about_tab {
			min-height: 0;
			margin-bottom: 40px;
		}

		.j_1_img {
			display: none;
		}

		.nav-tabs {
		    text-align: center;
		}
	}

	.joe_action_link a, 
	.joe_action_link
	.joe_action_link .title {
		margin-bottom: 40px;
	}
}