#nav_header {
	padding-top: 8px;

	.navbar-brand {
	    background: $white;
	    border-radius: 0 0 20px 20px;
	}

	.navbar-brand img {
	    width: 150px;
	}

	ul li a {
	    color: $dark_gray;
	    text-transform: uppercase;
	    font-weight: $bold;
	}

	ul li a:hover {
		color: $primary;
	}

	ul {
	    background: $white;
	    border-radius: 0 0 20px 20px;
	}

	li:last-child {
		background: $secondary;
		border-radius: 0 0 20px 0;
	}

	.navbar-nav .nav-item {
	    padding: 10px;
	}
}

#fixed_border {
	background: $primary;
    height: 8px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
}