.j_registration {
	img {
	    width: 100%;
	}

	a {
	    color: $dark_gray;
	    font-weight: 700;
	    font-family: $franklin_gothic;
	}

	a:hover {
	    color: $white;
	    transition: all .2s linear;
	}
}